################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication1/obj/x64/Debug
/ConsoleApplication1/bin/x64/Debug
/RtspWriteToFile/x64/Debug
